.avatar {
    width: 50px;
    height: 50px;
}
.currentPage {
    font-weight: bold;
}
.pagination {
    padding: 5px 5px;
    height:50px;
    width: 550px;
    cursor: pointer;
    margin: 10px 10px 10px 10px;

}
.users {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
    flex-wrap: wrap;
    flex-grow: 1;
}
.container {
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px
}
.inputPagination {
    background-color: transparent;
    width: 40px;
   font-size: 15px;
    height: 25px;
    border: 1px gray solid;
    cursor: pointer;


}
.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;

    & .path {
        stroke: powderblue;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }

}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
