.dialogs {
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr 10fr;
    color: seagreen;
}

.dialogsItems {
    width: 160px;
    background-color: white;


}

.dialogsItems .active {
    text-decoration: none;
    color: lightslategray;
}

.messages {
    background-color: #ecf0f1;
    padding: 10px;
}
.messagesElements {
    margin: 20px 30px;
    border-radius: 15px;
    background-color: white;
}
.addMessage {
    margin: 20px 30px;
}